#root {
    width: 70%;
}
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.SearchBar,
.Pagination {
    margin-bottom: 20px;
}

.Content {
    display: flex;
    width: 100%;
    position: relative;
}

.SearchResult {
    flex: 1;
    overflow-y: auto;
}

.ItemDetails {
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    background: white;
    border-left: 1px solid #ccc;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.ItemDetails button {
    display: block;
    margin-bottom: 20px;
}
